/* Reset styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Common styles for headings and text */
h1, h3, p, dt, dd {
    text-align: center;
}

h1 {
    height: 500px;
    background: url(../images/back.jpg) no-repeat 0 60%;
    background-size: cover;
    color: #fff;
    font-size: 2em;
    box-sizing: border-box;
    padding: 3em 0;
    margin: 0;
}

h1 strong {
    display: block;
    font-size: 0.5em;
    font-weight: normal;
    text-decoration: underline;
}

p, dd {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

/* Styles for lists */
ul.coffee-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul.coffee-list li {
    margin: 10px;
}

ul.coffee-list a, dl a {
    color: #140692;
    padding: 8px 16px;
    border-radius: 3px;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

ul.coffee-list a:hover, dl a:hover {
    color: #d37f48;
}

/* Individual element styles */
ul.coffee-list a {
    color: #380707;
}

dt {
    font-weight: bold;
    font-size: 1.5em;
    padding: 8px;
    color: #b4a692;
    margin: 1em;
}

dd:nth-child(2) {
    padding: 8px;
    background-color: #f7f2e4;
}

img {
    width: 400px;
    height: auto;
    margin: 1em;
}

.coffee-card {
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 200px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
}

.coffee-card dt {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.coffee-card dd {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.coffee-card img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.coffee-card a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

.coffee-card a:hover {
    color: #1e87d0;
}
